<div class="col-sm-10 col-sm-offset-1">
  <header><h3>Form component test</h3> </header>
  <form [formGroup]="form">
    <div class="row">
      <formctrl-datepicker formControlName="date" displayFormat = "dd - mm - yyyy" lang="en" class="col-sm-8 col-xs-11"></formctrl-datepicker>
      <div class="col-sm-1 col-xs-1" style="color: red">*</div>
      <div class="col-sm-3 col-xs-12">{{form.value.date}}</div>
    </div>
    <div class="row">
      <formctrl-input-text formControlName="text"  (ngModelChange) = "log($event)" class="col-sm-8 col-xs-11"></formctrl-input-text>
      <div class="col-sm-1 col-xs-1" style="color: red">*</div>
      <div class="col-sm-3 col-xs-12">{{form.value.text}}</div>
    </div>
    <div class="row">
      <formctrl-select-single formControlName="selectsingle"  (ngModelChange) = "log($event)" [displayElements] = "dispElem"  [options]="users" class="col-sm-8 col-xs-11"></formctrl-select-single>
      <div class="col-sm-1 col-xs-1" style="color: red">*</div>
      <div class="col-sm-3 col-xs-12">{{form.value.selectsingle | json}}</div>
    </div>
    <div class="row">
      <formctrl-switch-button formControlName="switch" (ngModelChange) = "log($event)" class="col-sm-9 col-xs-12"></formctrl-switch-button>
      <div class="col-sm-3 col-xs-12">{{form.value.switch}}</div>
    </div>
    <div class="row">
      <formctrl-select-search formControlName="selectsearch" [options]="users2" class="col-sm-8 col-xs-11"></formctrl-select-search>      <div class="col-sm-1 col-xs-1" style="color: red">*</div>
      <div class="col-sm-3 col-xs-12">{{form.value.selectsingle | json}}</div>
    </div>
  </form>
</div>


